@model PlacementTracker.ViewModel.EmployeeViewModel

@using PlacementTracker.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resource Tracing Application</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/EmployeeViewModel.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>


<body ng-app="myApp">

    <script language="javascript">

    var app = angular.module("myApp", []); // creating a APP

    app.controller("EmployeeViewModel", EmployeeViewModel); // Registering the VM
    // Controller
    </script>


    <br />
    <div class="container">
        <div ng-controller="EmployeeViewModel">
            <form id="myFrm" name="myFrm">
                <label>Employee ID</label> <input id="txtEmpId" autofocus required  ng-model="Employee.EmployeeID" type="text" name="EmployeeID" />
                <br/>
                <span ng-show="myFrm.EmployeeID.$touched && myFrm.EmployeeID.$invalid" style="color:darkred">Please enter a valid ID</span>
                <br />
                <label>Employee Name</label> <input id="txtEmpName"  ng-model="Employee.Name" ng-pattern="NamePattern" type="text" name="Name" required />
               <br />
                <span ng-show="myFrm.Name.$touched && myFrm.Name.$invalid" style="color:darkred">Please enter a valid Name</span>
                <br/>

                    <label>Age</label> <input id="txtAge" ng-pattern="AgePattern" ng-model="Employee.Age" type="text" name="Age"/><br />

                    <span ng-show="myFrm.Age && myFrm.Age.$invalid" style="color:darkred">Please enter a valid Age</span>


                <br/>

                <label>Address</label> <input id="txtAddress" ng-model="Employee.Address" type="text" name="Employee.Address" /><br />
                <br/>
                <label>Active</label>
                <div class="empRadio">
                    <label>
                        <input  type="radio" ng-model="Employee.Active" value="1" />
                        Yes
                    </label>

                    <label>
                        <input  type="radio" ng-model="Employee.Active" value="0" />
                        No
                    </label><br />
                </div>
                <br/>


             <label> Type of employment </label>
            <br/>
                <div class="empRadio">
                    <label>
                        <input type="radio" ng-model="Employee.Employment" value="0" />
                        None
                    </label><br />

                    <label>
                        <input type="radio" ng-model="Employee.Employment" value="1" />
                        Permanent
                    </label><br />
                    <label>
                        <input type="radio" ng-model="Employee.Employment" value="2" />
                        Contract
                    </label>
                </div>


                 
            </form>
            <br/>
            <div class="container">
                <input name="btnSubmit" ng-disabled="!myFrm.$valid" type="button" class="btn btn-success" id="btnSubmit" value="Add Employee" ng-click="Add()" />
                <input name="btnUpdate" type="button" class="btn btn-primary" id="btnUpdate"  value="Update Employee" ng-click="Update()" />
                <input name="btnDelete" type="button" class="btn btn-danger" id="btnDelete"  value="Delete Employee" ng-click="Delete()" />
            </div>
            <br />
            <br/>
            <div class="container">
                <table class="table table-bordered table-hover table-responsive table-condensed">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Employment Type</th>
                            <th>Status</th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr ng-repeat="emp in Employees">
                            <td>{{emp.EmployeeID}}</td>
                            <td>{{emp.Name}}</td>
                            <td>{{emp.Age}}</td>
                            <td>{{emp.Address}}</td>
                            <td>{{emp.EmploymentType}}</td>
                            <td style="background-color:{{emp.ActiveFlag}}">
                                {{emp.ActiveStatus}}
                            </td>

                            <td><a ng-click="LoadByCode(emp.EmployeeID)" href="#">Select To Modify</a></td>
                        </tr>

                    </tbody>
                  
                    
                </table>
            </div>

            @*@{
                WebGrid obj = new WebGrid(Model.employees);
            }
            @obj.GetHtml();*@
        </div>
    </div>
</body>
</html>




